{% extends 'base.html' %}
{% load static %}

{% block title %}
	Book Detail
{% endblock %}

{% block content %}
    <div>
        <img class=book_cover src="{{ book.cover.url }}" alt="{{ book.title }}">
        <h2>Title: {{ book.title }}</h2>
        <p>
            Author: {{ book.author }}<br>
            Price: {{ book.price }}
        </p>
        <h3>Reviews</h3>
        <ul>
            {% for review in book.reviews.all %}
                <li>{{ review }}  ({{ review.author }}) | "{{ review.date }}"</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
